<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/css.css">
</head>

<body>
  <div id="app">
    <div class="nav flex">
      <a href="#grow" class="btn">成長</a>
      <a href="#share" class="btn">分享</a>
    </div>
    <div class="warp">
      <h1 id="grow">成長</h1>
      <div v-for="(item,index) in growingSort" :key="'growing-' + index" class="item">
        &#128142;【今日{{item.classDate}}】幸福學苑課程<br>
        &#10084;&#65039;{{item.Title}} <span v-if="item.Teacher">{{" / " + item.Teacher}}</span>
        <p v-if="item.Lesson === '每月固定課程'">每月固定課程</p>
        <p v-if="item.Lesson === '每周固定課程'">每週{{item.classDay}}&nbsp;{{item.classTime}}</p>
        <p v-if="item.Lesson === '單堂'">{{item.classDate +'(' + item.classDay + ')'}}&nbsp;{{item.classTime}}</p>
        <p>地點：{{item.Address}}</p>
        <p v-if="item.Url">報名：<a :href="item.Url" target="_blank">{{item.Url}}</a></p>
      </div>
      <h1 id="share">分享</h1>
      <h2>線上分享會</h2>
      <div v-for="(item,index) in sharingSort.onlineData" :key="'sharing-online-' + index" class="item">
        &#128142;【今日{{item.classDate}}】線上分享會<br>
        &#10084;&#65039;{{item.Title}} <span v-if="item.Teacher">{{" / " + item.Teacher}}</span>
        <p v-if="item.Lesson === '每月固定課程'">每月固定課程</p>
        <p v-if="item.Lesson === '每周固定課程'">每週{{item.classDay}}&nbsp;{{item.classTime}}</p>
        <p v-if="item.Lesson === '單堂'">{{item.classDate +'(' + item.classDay + ')'}}&nbsp;{{item.classTime}}</p>
        <p>地點：{{item.Address}}</p>
        <p v-if="item.Url">報名：<a :href="item.Url" target="_blank">{{item.Url}}</a></p>
      </div>
      <h2>實體分享會</h2>
      <div v-for="(item,index) in sharingSort.localData" :key="'sharing-local-' + index" class="item">
        &#128142;【今日{{item.classDate}}】實體分享會<br>
        &#10084;&#65039;{{item.Title}} <span v-if="item.Teacher">{{" / " + item.Teacher}}</span>
        <p v-if="item.Lesson === '每月固定課程'">每月固定課程</p>
        <p v-if="item.Lesson === '每周固定課程'">每週{{item.classDay}}&nbsp;{{item.classTime}}</p>
        <p v-if="item.Lesson === '單堂'">{{item.classDate +'(' + item.classDay + ')'}}&nbsp;{{item.classTime}}</p>
        <p>地點：{{item.Address}}</p>
        <p v-if="item.Url">報名：<a :href="item.Url" target="_blank">{{item.Url}}</a></p>
      </div>
    </div>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.js'
    integrity='sha512-rozBdNtS7jw9BlC76YF1FQGjz17qQ0J/Vu9ZCFIW374sEy4EZRbRcUZa2RU/MZ90X2mnLU56F75VfdToGV0RiA=='
    crossorigin='anonymous'></script>
  <script src="js/xlsx.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data() {
        return {
          allData: [],
          err: "",
          newUrl: [],
        }
      },
      created() {
        var url = "./file/learn.xlsx"
        axios.get(url, { responseType: 'arraybuffer' })
          .then((res) => {
            let xlsx_data = new Uint8Array(res.data);
            let excelData = XLSX.read(xlsx_data, { type: "array", cellText: false, cellDates: true });
            let jsonData = Object.keys(excelData.Sheets).map(name => ({
              name,
              data: XLSX.utils.sheet_to_json(excelData.Sheets[name], { header: 0, raw: false, dateNF: 'm/d' }),
            }));
            this.allData = jsonData[0].data;
          }).catch(err => {
            this.err = err
          })
      },
      computed: {
        growingSort: function () {
          let setData;
          setData = this.allData.filter(item => {
            return item.className === 'growing'
          })
          setData = setData.sort((a, b) => {
            return new Date(a.classDate) - new Date(b.classDate);
          });
          return setData;
        },
        sharingSort: function () {
          let setData,
            OnLine,
            Local;
          setData = this.allData.filter(item => {
            return item.className === 'sharing'
          })
          OnLine = setData.filter(item => {
            return item.classType === '線上直播';
          }).sort((a, b) => {
            return new Date(a.classDate) - new Date(b.classDate);
          });
          Local = setData.filter(item => {
            return item.classType === '實體現場';
          }).sort((a, b) => {
            return new Date(a.classDate) - new Date(b.classDate);
          }).sort((a, b) => {
            let aNum = a.Address.substr(0, 2),
              bNum = b.Address.substr(0, 2);
            return aNum - bNum;
          });
          return { onlineData: OnLine, localData: Local };
        },
      },
      methods: {
        getTinyUrl(url) {
          let apiUrl = `https://api.shrtco.de/v2/shorten?url=${url}`;
          axios.get(apiUrl).then((res) => {
            console.log('res.data.result.full_short_link2:', res.data.result.full_short_link2)
          }).catch(err => {
            console.log('err:', err)
          })
        },
      },
      // filters: {
      //   convertToChineseDay: function (day) {
      //     const theDay = new Date(day);
      //     const getDay = theDay.getDay();
      //     const chineseDay = ["日", "一", "二", "三", "四", "五", "六"];
      //     if (isNaN(getDay)) {
      //       return day;
      //     }
      //     return `(${chineseDay[getDay]})`;
      //   },
      //   convertDate: function (day) {
      //     const theDay = new Date(day);
      //     const getDate = theDay.getDate();
      //     const getMonth = theDay.getMonth() + 1;
      //     if (isNaN(getMonth)) {
      //       return day;
      //     }
      //     return `${getMonth}/${getDate}`;
      //   },
      // },
    })
  </script>
</body>

</html>